
.products .leftArea{
  width:185px;
  float: left;
}
.products .rightArea{
  width:810px;
}
.leftNav{
  background-color: #F3F3F3;
  border: #D7D7D7 solid 1px;
}

.nav_title{
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  border-bottom: #D7D7D7 solid 1px;
  text-align: center;
}
.nav_cont{
  padding: 0 18px 4px;
  border-bottom: #D7D7D7 1px dotted;
  margin-bottom: -1px;
}
.nav_cont h3{
  font-size: 30px;
  height: 30px;
  line-height: 30px;

}
.navCont_list{
  line-height: 30px;
}
.navCont_list li{
  float: left;
  width: 60%;
}
.hr_7{
  height: 7px;
  overflow: hidden;
}
/*标题*/
.products_title{
  height: 45px;
  border-bottom: #CCCCCC solid 2px;
}
.products_title a{
  width:200px;
  border-bottom: #096DBA solid 2px;
  height: 50px;
  line-height: 50px;
  text-indent: 9px;
  font-size:30px;
}
.item{
  width:25%;
  float: left;
}

.img_item{
  height: 170px;
  text-align: center;
}
